html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 20px;
  background-color: #112222;
  color: #ffeeee;
}

.technology-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  user-select: none;
}

.technology-display-item {
  border: solid 1px #fe019a;
  margin: 0px 5px 5px 0px;
}

.highlighted-technology .name {
  font-size: 2em;
}

.highlighted-technology .description {
  font-size: 1.2em;
}

.ubiquitous {
}

.very-popular {
}

.popular {
}

.fairly-popular {
}

.mildly-popular {
}

.highlighted {
  width: 100vw;
  color: #fe019a;
}

.clickable {
  cursor: default;
}

a,
a:visited {
  color: #fe019a;
}
