html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 20px;
  background-color: #112222;
  color: #ffeeee;
}

button {
  all: inherit;
}

.technology-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  user-select: none;
}

.technology-display-item {
  border: solid 1px white;
  border-radius: 5px;
  margin: 0px 20px 20px 0px;
  padding: 15px;
  transition: all 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  opacity: 0.6;
}

.technology-display-item:hover,
.highlighted {
  border-color: #0c0;
  box-shadow: #00cc0073 3px 5px;
  transform: translate(-3px, -5px);
  opacity: 1;
}

.highlighted-technology .description {
  padding-top: 5px;
  font-size: 0.4em;
}

.highlighted {
  width: 100vw;
  max-width: 500px;
  font-size: 2em;
}

a,
a:visited {
  color: #0c0;
}
