html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 20px;
  background-color: #112222;
  color: #ffeeee;
}

.technology-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  user-select: none;
}

.technology-display-item {
  border: solid 1px white;
  border-radius: 5px;
  margin: 0px 10px 10px 0px;
  padding: 5px;
  /* box-shadow: #fe019a73 5px 5px 3px; */
  transition: all 0.2s;
}

.technology-display-item:hover {
  border-color: #fe019a;
  box-shadow: #fe019a73 5px 5px 3px;
  transform: translate(-3px, -3px);
}

.highlighted-technology .name {
  font-size: 2em;
}

.highlighted-technology .description {
  font-size: 1.2em;
}

.ubiquitous {
}

.very-popular {
}

.popular {
}

.fairly-popular {
}

.mildly-popular {
}

.highlighted {
  width: 100vw;
  color: #fe019a;
  font-size: 2em;
  border-width: 3px;
}

.clickable {
  cursor: default;
}

a,
a:visited {
  color: #fe019a;
}
